@font-face{
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-family: "RobotoCondensed-Bold";
}
@font-face{
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-family: "RobotoCondensed-Regular";
}
@font-face{
    src: url("../assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
    font-family: "RobotoCondensed-Light";
}