*{
  box-sizing: border-box;
}

body{
    background-color: $lightgrey;
    font-family: $font-family-base;
    font-size: em(16);
    margin: 0;
}

img{
    max-width: 100%;
}

hr {
    opacity: .2;
}

.container {
    padding: .5rem;
    max-width: em($desktop-up);
    @include push--auto;
}

#logo {
    width: 48px;
    margin-right: 1rem;
}

#title {
    display: flex;
    align-items: center;
}